<!DOCTYPE html>
<html>
    <head>
        <title>{{title}}</title>
        <link rel='stylesheet' href='/styles/style.css' />
        <link href='https://fonts.googleapis.com/css?family=Raleway:400,500,700,800,900,600,300,200,100' rel='stylesheet' type='text/css'>
    </head>
    <body>
        <header class="header">
            <nav class="header__nav">
                <div class="header__logo">
                    <img class="header__logo__img" src="/images/logo.png">
                </div>
                <ul class="header__nav-list">
                    <li class="header__nav-list__item"><a class="header__nav-list__item__link" href="#home"><img class="header__nav-list__item__link__img" src="/icons/png/home.png">Home</a></li>
                    <li class="header__nav-list__item"><a class="header__nav-list__item__link" href="https://looklive.com/discover/"><img class="header__nav-list__item__link__img" src="/icons/png/latest.png">Latest</a></li>
                    <li class="header__nav-list__item"><a class="header__nav-list__item__link" href="https://looklive.com/people/"><img class="header__nav-list__item__link__img" src="/icons/png/people.png">People</a></li>
                    <li class="header__nav-list__item"><a class="header__nav-list__item__link" href="https://looklive.com/shows/"><img class="header__nav-list__item__link__img" src="/icons/png/shows.png">Shows</a></li>
                    <li class="header__nav-list__item"><a class="header__nav-list__item__link" href="https://looklive.com/music/"><img class="header__nav-list__item__link__img" src="/icons/png/music.png">Music</a></li>
                    <li class="header__nav-list__item"><a class="header__nav-list__item__link" href="https://looklive.com/brands/"><img class="header__nav-list__item__link__img" src="/icons/png/brands.png">Brands</a></li>
                </ul>
            </nav>
            <!-- <div class="header__banner"><img class="header__banner__img" src="/images/header.png"></div> -->
            <picture class="header__banner">
                <source srcset="/images/banner/header_1600.jpg" media="(min-width: 1600px)">
                <source srcset="/images/banner/header_1280.jpg" media="(min-width: 1280px)">
                <source srcset="/images/banner/header_1024.jpg" media="(min-width: 1024px)">
                <source srcset="/images/banner/header_620.jpg" media="(min-width: 620px)">
                <source srcset="/images/banner/header_320.jpg" media="(min-width: 320px)">
                <img class="header__banner__img" src="/images/banner/header.png" alt="header">
            </picture>
        </header>
        
        <main class="main">
            {{{body}}}
        </main>

        <script src="/js/app.js"></script>
        <script type="text/javascript">
            if ('serviceWorker' in navigator) {
              navigator.serviceWorker.register('/sw.js', {scope: '/'}).then(function(registration) {
                // Registration was successful
                console.log('ServiceWorker registration successful with scope: ',    registration.scope);
              }).catch(function(err) {
                // registration failed :(
                console.log('ServiceWorker registration failed: ', err);
              });
            }
        </script>
    </body>
</html>
